.mainheader{
    display: flex;
    justify-content: space-between;
    .title{
        margin: 5px 31%;
        font-size: 1.5rem;
        font-family: monospace;
        color: rgb(128, 126, 126);
    }
.child{
    display: flex;
    justify-content: right;
    margin: 1%;
}


}




