.des{
    padding: 0 31% 0;
    .grbtn {
        float: right;
       
    }
    Button{
        font-family: monospace;
        margin: 0 2px;
    }
   a{
    text-decoration: none;
    color: rgb(60, 60, 247);
   }
    p{
        margin-top: 7%;
        font-family: monospace;
        font-size: 15px;
        line-height: 22px;
    }
    
}